body {
    background-color: grey;
    padding: 3rem;
}

container {
    margin: 1rem;
    display: grid;

    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(4, 100px);
}

button {
    border: 3px solid darkgrey;
}

box {
    background-color: #1e0;
    border: 3px solid #AABBAA;
    margin: 5px;
    border-radius: 10px;
}

.evoluciona {
    background-color: #e10;
    transform: translateX(100px);
    transition-timing-function: linear;
    transition: 0.4s;
}

.desevoluciona {
    background-color: #10e;
    transition: 0.4s;
}

.ultimate {
    background-color: #441155;
    background-image: url("cthulhu.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*.ultimate:hover {
  transform: scale(1.2);
}*/

.giro {
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.v {
    position: relative;
    animation-name: moverV;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/* ANIMACIONES */

@keyframes girar {

    0% {
        transform: rotate(0);

    }
    100% {

        transform: rotate(360deg);
    }

}


@keyframes moverV {

    from {

        top: 0px;
        left: 0px;
    }

    25% {

        top: 30px;
        left: 30px;

    }
    50% {

        top: 0px;
        left: 60px;
    }
    75% {

        top: 30px;
        left: 30px;

    }
    to {

        top: 0px;
        left: 0px;

    }

}
