div select {
    appearance: none;
    outline: 0;
    background-image: none;
    width: 100px;
    color: black;
    cursor: pointer;
    border: 1px solid #c0c0c0;
    border-radius: 25px;
}

div {
    padding: 7px;
}

input[type='text'], input[type='number'] {
    background-color: bisque;
}

input[type='submit'] {
    appearance: none;
    outline: 0;
    background-image: none;
    width: 110px;
    color: black;
    cursor: pointer;
    border: 1px solid #c0c0c0;
    border-radius: 25px;
    background-color: bisque;
}

body {
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
}

form {
    width: 800px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
}

legend {
    text-align: left;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

select, select option {
    font-family: "Courier New";
}

a {
    color: black;
    text-decoration: none;
}

input[type='text']:invalid, input[type='number']:out-of-range {
    background-color: red;
}

input:target {
    color: white;
    background-color: blue;
}
