/*organizar elementos*/

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
}

.item {
    margin: 10px;
}

.item2 {
    grid-column: span 3;
}

/*colorear de gris las etiquetas numericas,
 sombrear
 y aplicar el hover*/

.item:nth-child(odd) {
    background-color: var(--celdas__NumeroDePersonaje);
}

.item:nth-child(odd):hover {
    box-shadow: 7px 8px 9px rgba(1,1,1,0.4);
}

.item:nth-child(odd):hover + .item:nth-child(even) {
    box-shadow: 7px 8px 9px rgba(1,1,1,0.4);
}

/*sello xulupolla y centrar H1*/

#SealOfApproval {
    background-image: url("cthulhu_approval.gif");
    position: fixed;
    right: 1px;
    bottom: 1px;
    width: 100px;
    height: 100px;
}

h1 {
    text-align: center;
}
