#resultados {
  .contenedorFalla {
    border: 1px dotted black;
    h3{
      user-select: text;
    }
  }
}

body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}