$color-inactivo: #5f5050;
$color-hover: #ffa400;
$color-starbucks: #036635;

@font-face {
  font-family: 'Starbucks';
  src: url(../fonts/Starbucks.otf);
}

* {
  box-sizing: border-box;
  color: #3e8e41;
  font-family: "Starbucks";

}

body {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: $color-starbucks;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  font-family: monospace;
}

.seccion {
  display: flex;
  justify-content: space-between;

  #selector {
    position: relative;
    width: 120px;
    overflow: hidden;
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
  }
}

.fieldAnyoFundacion {
  border-radius: 0 30px 0 30px;
  border: 5px ridge $color-starbucks;
}

#fieldSetMaster {
  width: 100%;
  border: 5px ridge $color-starbucks;
}

#filtro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 7px;

  legend {
    text-align: center;
    font-size: 30px;
    margin: 0 0 20px;
  }


  .tipoFalla {
    display: flex;
    justify-content: space-between;

    input[type='radio'] {
      display: none;

      &:checked + label {
        padding: 5px 15px;
        background-color: #3e8e41;
        border-radius: 2px;
        color: #fff;
      }

      &:checked + label:before {
        display: none;
      }
    }

    label {
      padding: 5px 15px 5px 51px;
      display: inline-block;
      position: relative;
      font-size: 1em;
      border-radius: 3px;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;


      &:hover {
        background-color: rgba(0, 116, 217, 0.2);
      }

      &:before {
        content: "";
        width: 17px;
        height: 17px;
        display: inline-block;
        background: none;
        border: 3px solid $color-starbucks;
        border-radius: 50%;
        position: absolute;
        left: 17px;
        top: 2px;
      }
    }


  }

  .anyoFundacion {
    input {
      vertical-align: middle;
      border: none;
      padding: 0 10px;
      margin: 0;
      width: 100%;
      background: none;

      &:focus {
        background: rgba(0, 0, 0, .1);
        border-radius: 5px;
        outline: none;
      }
    }
  }

  label {
    margin: 5px 10px 5px 0;
  }

  input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  @media screen and (max-width: 800px) {
    #filtro input {
      margin: 10px 0;
    }
    #filtro {
      flex-direction: column;
      align-items: stretch;
    }

  }
}


#resultados {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .contenedorFalla {
    display: flex;
    

    h3 {
      user-select: text;
    }

    form {
      display: flex;
      flex-direction: row-reverse;

      width: 250px;
      height: 50px;
      margin: 0 auto;

      label {
        background-color: initial;
        border: 0;
        color: $color-inactivo;
        transition: 0.5s all;

        &:hover {
          cursor: pointer;
          color: $color-hover;
          transform: translateX(5px) translateY(5px);
        }

        @for $i from 1 through 5 {
          &:nth-child(#{$i}):hover ~ button {
            color: $color-hover;
            transform: translateX(10px) translateY(5px);
          }
        }
      }

      input[type="radio"] {
        display: none;
      }

      input[type="radio"]:checked ~ label {
        color: orange;
      }
    }
  }
}

