#resultados .contenedorFalla form {
    width: 250px;
    height: 50px;
    margin: 0 auto;
}

#resultados .contenedorFalla form label {
    font-size: 20px;
    color: grey;
}

#resultados .contenedorFalla form input[type="radio"] {
    display: none;
}

#resultados .contenedorFalla form label:hover,
#resultados .contenedorFalla form label:hover ~ label {
    color: orange;
}

#resultados .contenedorFalla form input[type="radio"]:checked ~ label {
    color: orange;
}

#resultados .contenedorFalla h3 {
    user-select: text;
}

body {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}
