#pantalla {
    display: flex;
    justify-content: center;
    align-items: center;
}

.juego {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

.pasillo {
    width: 40px;
    height: 40px;
    background-color: rgba(240, 255, 240, 0.4);
}

.celda {
    background-color: black;
}

body {
    background-image: url("images/fondo.png");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

.personaje {
    content: url("images/bb8Der.gif") !important;
}

.personajeIzquierda {
    content: url("images/bb8Izq.gif") !important;
}

.personajeAbajo {
    content: url("images/bb8Aba.gif") !important;
}

.enemigo {
    content: url("images/Momia-Metal-Slug.gif");
}

.huella {
    content: url("images/disparo.png");
}

.pergamino {
    content: url("images/jedi.png");
    width: 40px;
    height: 40px;
}

.urna {
    content: url("images/cazaTieAvanzadoX1.png");
    width: 40px;
    height: 40px;
}

.llave {
    content: url("images/darthVader.png");
    width: 40px;
    height: 40px;
}

.null{
    background-color: rgba(255, 19, 58, 0.85);
}