#pantalla {
    display: flex;
    justify-content: center;
    align-items: center;
}

.juego {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

.pasillo {
    width: 40px;
    height: 40px;
    background-color: black;
}

.celda {
    background-color: orange;
}

body{
    background-color: yellow;
}

.personaje{
    content: url("images/estaticoIzquierdo.gif");
}

.personajeDerecho{
    content: url("images/estatico.gif");
}

.enemigo{
    content: url("images/Momia-Metal-Slug.gif");
}