#pantalla {
    display: flex;
    justify-content: center;
    align-items: center;
}

.juego {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

.pasillo {
    width: 40px;
    height: 40px;
    background-color: rgba(240, 255, 240, 0.4);
}

.celda {
    background-color: black;
}

body {
    background-image: url("images/fondoBody.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

.personaje {
    content: url("images/bb8.gif") !important;
}

.enemigo {
    content: url("images/Momia-Metal-Slug.gif");
}

.huella {
    content: url("images/disparo.png");
}
