.caja {
    width: 70px;
    height: 70px;

    background-image: url("cthulhu.svg");
    background-size: 100% 100%;

    transition: 1s;
}

.transicion {
    transition: 1.5s;
    transform: translateX(1000px);
}

.linear {
    transition-timing-function: linear;
}

.ease {
    transition-timing-function: ease;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}