/*organizar elementos*/

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
}

.item {
    margin: 10px;
}

.item2 {
    grid-column: span 3;
}

/*colorear de gris las etiquetas numericas,
 sombrear
 y aplicar el hover*/

.item:nth-child(odd) {
    background-color: var(--grey);
}

.item:nth-child(odd):hover {
    box-shadow: 3px 4px 5px black;
}

.item:nth-child(odd):hover + .item:nth-child(even) {
    box-shadow: 3px 4px 5px black;
}

/*sello xulupolla y centrar H1*/

#SealOfApproval {
    width: 100px;
    height: 100px;

    background-image: url("cthulhu_approval.gif");
    background-size: 150%;
    background-repeat: no-repeat;

    position: fixed;
    justify-self: end
}

h1 {
    text-align: center;
}
